/*  improvedtableparser.css - some additional styles for ImprovedTableParser
 *                            which can be included in screen.css and print.css
 *                            using...
 *
 *                            @import "improvedtableparser.css";
 *
 *                            ...before any rules.
 *
 *                            Copyright (c) 2012 by Paul Boddie
 *                            Licensed under the GNU GPL (v2 or later), see COPYING.txt for details.
 */

.sortablecolumn {
    position: relative;
    padding-bottom: 0.5em;
}

.sortablecolumn .sortcolumns {
    display: none;
    position: absolute;
    top: 1em;
    left: 0;
    z-index: 3;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 0;
}

.sortablecolumn:hover .sortcolumns {
    display: block;
}

/* Column listings. */

.sortcolumns p {
    padding: 0.5em 0.5em 0 0.5em;
}

.sortcolumns ol {
    margin: 0.5em;
    padding: 0.25em 1.5em 0.25em 1.5em;
}

.sortcolumns li {
    white-space: nowrap;
    padding-top: 4px;
    text-align: justify;
}

.sortcolumns a {
    text-decoration: none !important;
    color: inherit !important;
}

.sortcolumn:hover {
    border-top: 2px solid #f66;
    padding-top: 2px;
}

/* Column removal and inactive columns. */

a.altdirection,
a.removecolumn,
.unlinkedcolumn {
    margin-left: 0.25em; /* replaces the container used for the pop-up */
}

a.removecolumn {
    color: inherit !important;
}

a.removecolumn:hover {
    text-decoration: line-through !important;
}

/* Positioning of pop-up elements. */

.sortcolumn-container {
    position: relative;
    padding-right: 0.25em;
}

/* New column pop-up. */

.sortcolumn .newsortcolumn {
    display: none;
    position: absolute;
    bottom: 0.5em;
    right: 0.25em;
    z-index: 4;
}

.sortcolumn:hover .newsortcolumn {
    display: block;
}

a.altdirection,
.newsortcolumn {
    color: #000;
    padding: 0.5em;
}

a.altdirection {
    background-color: #fcc;
}

a.altdirection:hover,
.newsortcolumn {
    background-color: #f66;
}

.appendcolumn {
    list-style-type: none;
}

.appendcolumn .newsortcolumn {
    visibility: hidden;
    display: inline-block;
}

.appendcolumn:hover .newsortcolumn {
    visibility: visible;
}
