/*  includecomments.css - some additional styles for the IncludeComments macro
                          which can be included in screen.css and print.css
                          using...

                          @import "includecomments.css";

                          ...before any rules.

Copyright (c) 2013 by Paul Boddie
Licensed under the GNU GPL (v2 or later), see COPYING.txt for details.
*/

.included-comment {
    margin: 1em;
    border: 2px solid #ddd;
    padding: 1em;
}

.included-comment-owner {
    float: left;
    clear: left;
    margin-right: 1em;
    padding: 0.5em;
    background-color: #ddd;
    color: #000;
    font-weight: bold;
    font-size: larger;
}

/* Hide the link to the comment form when showing the form. */

#includecomments-anchor:target > a {
    display: none;
}

/* Hide the comment form unless the link has been followed. */

#includecomments-anchor:not(:target) .includecomments-form {
    display: none;
}

/* vim: tabstop=4 expandtab shiftwidth=4
 */
