/*  screen.css - MoinMoin Default Styles

Copyright (c) 2001, 2002, 2003 by Juergen Hermann
*/

/* content styles */

/* debug
* {border: 1px dotted blue;}
*/

h1,h2 {
    font-size: 22.5px;
}

h3 {
    font-size: 18px;
}

#sidebar {
    margin-top: 1em;
}

#sidebar ul {
    margin-bottom: 2ex;
    list-style-type: none;
}

#sidebar p {
    padding: 0 8px;
}

#sidebar li {
    display: block;
}

#sidebar li:before {
    content: "\e258"; /* menu-right */
    font-family: "Glyphicons Halflings";
    font-size: smaller;
    text-decoration: none;
    margin: 0 0.2em;
}

#sidebar a:hover::before {
    text-decoration: none;
}
    
.sidehead {
    font-weight: bold;
}

a:link { text-decoration: none; color: #0000EE; }
a:link:hover, a:link:active { text-decoration: underline; color: #0000EE; }
a:visited { text-decoration: none; color: #551A8B; }
a:visited:hover { text-decoration: none; color: #551A8B; }
a.nonexistent:hover, a.badinterwiki:hover,
a.nonexistent:visited, a.badinterwiki:visited,
a.nonexistent, a.badinterwiki {color: #ba0000;}

a.download {
    font-size: 120%;
    letter-spacing: 0.05em;
    font-weight: bold;
    background: #E7E7E7;
    border: 1px solid #9C9C9C;
    padding: 0.5em;
    text-align: center;
}

input {
    /* does strange effect to button (text size becomes bigger when clicking)
    font-size: 1em;
    font-family: Arial, Lucida Grande, sans-serif;
    */
}

textarea {
    font-size: 1em;
    font-family: monospace;
}

.disabled {
    /* IE ignore disabled attribute, but at least show items in gray */
    color: gray;
}

/* user interface styles */

#header:after {
    clear: both;
}

#header {
    line-height: 1.1em;
}

#headerright {
    float: right;
}

#logo {
    float: left;
    padding: 0;
    /* For text only logo */
    font-size: 1.4em;
    line-height: 1em;
    font-weight: bold;
}

#logo img {
    vertical-align: middle;
}

#logo a {
    color: black;
    text-decoration: none;
}

#username {
    float: right;
    display: inline;
    margin: 5px 12px;
    padding: 0;
    text-align: right;
    font-size: 0.82em;
    white-space: nowrap;
}

*[dir="rtl"] #username {
    text-align: left;
    margin: 5px 0px;
}

#username li {
    display: inline;
    padding: 0 0.5em 0 0;
}

#username form {
    display: inline;
}

#username input {
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
    background: #E7E7E7; /* inherit doesnt work on IE */
    color: blue;
    font-size: 0.82em;
    cursor: pointer;
}

#username input:hover {
    color: red;
}

#searchform {
    float: right;
    margin: 5px 10px;
    padding: 0;
    white-space: nowrap;
    font-size: 0.82em;
}

#searchform form div {
    display: inline;
}

#pagetrail {
    clear: right;
    margin: 5px 12px;
    padding: 0;
    font-size: 0.88em;
}

#interwiki {
    margin: 5px 12px;
    display: inline;
    font-size: 1em;
}

*[dir="rtl"] #interwiki {
    margin: 5px 0px;
    display: inline;
    font-size: 1em;
}

#interwiki span:after {
    content: ":";
}

#locationline {
    clear: right;
    padding: 2em 0 0 0;
}

#pagelocation {
    display: inline;
    margin: 5px 20px;
    padding: 0;
    font-size: 1.5em;
}

#pagetrail li, #pagelocation li {
    display: inline;
    margin: 0;
}

/* XXX Warning: non-ascii characters! */
#pagetrail li:after {
    content: " » ";
}

#pagetrail li:last-child:after {
    content: "";
}

#pagelocation li:after {
    content: "/ ";
}

#pagelocation li:last-child:after {
    content: "";
}

.navbar-default {
    border: none;
}

#navibar .current {
    display: none;
}

#pageline {
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    /* sync these values, line-height is needed for IE */
}

#pagelocation a, #pagelocation a:visited {
    color: black;
    text-decoration: none;
}

#content {
    width: 100%;
    background: white;
}

.editbar, #navibar, #faqs, #spaces {
    clear: both;
    display: block;
    margin: 0;
    padding: 0 8px;
}

.editbar form, .editbar form div {
    display: inline;
    margin: 0;
}

.editbar li, #navibar li, #faqs li, #spaces li {
    padding: 0;
    margin: 4px 6px;
}

#footer {
    /*
     *firefox, 'important' highest priority, ignore following overwriting
     */
    min-height: 60px;
    height: auto !important;
    /*
     *IE wont recognize 'important' and 'min-height,
     *it will auto adjust height
     */
    height: 60px;
    border-width: 0;
    border-radius: 0;
    margin-top: 21px;
    margin-bottom: 0;

    background-color: #F0F0F0;
    font-size: 14px;
}

#footer .navbar-text {
    float: none;
}

.editbar a, .editbar a:visited { color: #0044B3; }

#message {
    clear: both;
    margin: 1em 0;
    padding: 5px 10px;
    color: #31708f;
    background-color: #d9edf7;
    border-bottom: 1px solid #bce8f1;
    border-radius: 4px;
    font-size: smaller;
}

#message p {
    margin: 5px 0;
    padding: 0;
    /* font-weight: bold; */
}

#message div.buttons {
    font-weight: normal;
}

.dialog form {
    margin: 0 15px;
}

.dialog td {
    border: none;
    padding: 5px;
}

.dialog td.label {
    text-align: right;
    font-weight: bold;
    width: 25%;
}

.dialog td.content input {
    width: 100%;
}

#page {
    background-color: white;
    margin: 0;
    padding: 2px 20px 20px 20px;
}

#page:after {
    content: '';
    background-color: white;
}

#pageinfo {
    margin-top: 5ex;
    margin-right: 2em;
}

#editor-textarea, #editor-help {
    font-family: monospace;
    border: 1px solid #8cacbb;
    color: black;
    background-color: white;
    padding: 3px;
    width: 100%;
    margin-top: 0.5em;
}

#editor-help {
    font-size: small;
}

#editor-comment {
    font-size: 100%;
    border: 1px solid #8cacbb;
    color: black;
    background-color: white;
    vertical-align: middle;
    padding: 1px;
    display: inline;
    width: 70%;
}

#preview, #previewbelow {
    border: 1px solid #6C7680;
    padding: 3px;
    width: 100%;
    background: url(../img/draft.png);
    margin-top: 0.5em;
}

#textcha {
    font-size: 100%;
    margin-top: 0.5em;
    border: 2px solid #FF8888;
    color: black;
    vertical-align: middle;
    padding: 3px 2px;
}

#textcha-answer {
    border: 2px solid #000000;
    padding: 3px 2px;
}

input.button {
    /*
    border: 1px solid #8cacbb;
    color: black;
    background-color: #CCCCCC;
    vertical-align: middle;
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
    margin: 2px;
    padding: 1px;
    display: inline;
    */
}

#credits, #version, #timings{
    margin: 5px 10px;
    padding: 0;
    text-align: center;
    font-size: 0.88em;
    color: #6C7680;
}

#credits li, #timings li {
    display: inline;
    padding: 0 2px;
    margin: 0 4px;
}

#credits img {
    vertical-align: middle;
}

.diff {
    width:99%;
    table-layout: fixed;
}

.diff-header {
    font-weight: bold;
}

.diff-title {
    background-color: #C0C0C0;
}

.diff-added {
    background-color: #E0FFE0;
    vertical-align: top;
    width: 50%;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: courier, monospace;
}

.diff-removed {
    background-color: #FFFFE0;
    vertical-align: top;
    width: 50%;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: courier, monospace;
}

.diff-added span {
    background-color: #80FF80;
}

.diff-removed span {
    background-color: #FFFF80;
}

td.diff-info {
    vertical-align: top;
}

div.diff-info {
    white-space: nowrap;
}

div.diff-info-rev-comment span.diff-info-value {
    white-space: normal;
}

div.diff-info-header {
    background-color: #E8E8E8;
    width: 100%;
    padding: 0.25em 0.5em;
    margin: -0.25em -0.5em;
    margin-bottom: 0.25em;
    text-align: center;
}

td.diff-same {
    text-align: center;
    border: 0;
}

table.navigation {
    float: right;
    margin: 2px;
}

#openididentifier {
    background: url(../../common/openid.png) no-repeat;
    background-position: 0 50%;
    padding-left: 18px;
}

#poweredby img:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#poweredby img {
    vertical-align: middle;
}

#poweredby {
    padding: 5px;
}

.blue.condensed {
    padding: 4px;
    border-radius: 4px;
}

